$dark: #333 !important;
$hover: #444 !important;
$active: #555 !important;
$wFont: white !important;
$bFont: black !important;  
$none: none !important;
$bgnNone: none !important;

:root {
    --white: #{$dark};
}
body {
    background-color: $dark;
    color: $wFont;
}
.login {
    border: $none; 
}
#topbar {
    background-color: $dark;
    border-bottom: $none;
}
.content-header {
    background-color: $dark;
    border-bottom: $none;
}
.panel {
    background-color: $dark;
    color: $wFont;
    border-color: #797979;
}
.panel-heading {
    color: $wFont;
}
.panel-heading, .panel-default, .panel-footer {
    background-color: $dark;
}
.dataTables_info {
    color: $wFont;
}
.pull-right {
    background-color: $dark;
    color: $wFont;
    border: $none;
}
.control {
    background-color: $dark;
}
.btn {
    background-color: $dark;
    &:hover {
        background-color: $hover;
    }
    &:active {
        background-color: $active;
    }
}
.text-secondary {
    color: $wFont;
}
.list-group-item {
    background-color: $dark;
}
ul.dropdown-menu a {
    background-color: $dark;
    color: $wFont;
}
.divider {
    display: $none;
}
.header-breadcrumb, .header-meta, .breadcrumb, .bc {
    background-color: $dark;
    color: $wFont;
}
.msg-date {
    color: $wFont;
}
.message-row {
    &:hover {
        background-color: $hover;
    }
    &:active {
        background-color: $active;
    }
}
.table {
    background-color: $dark;
}
.tbody {
    background-color: $dark;
}
.post {
    background-color: $dark;
    
}
.mail-iframe {
    background-color: $hover;
}
.batch-actions-container {
    background-color: $dark;
}
a {
    &:hover {
        background-color: $hover;
    }
}
.post-info {
    color: $wFont;
}
.post-fold-toggle {
    background-color: $hover;
}
.unfold-container {
    background-color: $dark;
    color: $wFont;
}
.well {
    background-color: $dark;
}
.info {
    background-color: $hover;
}
.list-check {
    background-color: $dark;
}
.read {
    background-color: $dark;
}
.odd {
    background-color: $dark;
}
.even:hover {
    background-color: $hover;
    color: $wFont;
}
.warning td {
    background-color: #e85757 !important;
    color: $bFont;
}
.success {
    color: $bFont;
}
.info td {
    color: $bFont;
}
.item-label {
    color: $wFont;
}
.chat-overlay {
    background-color: $dark;
    color: $wFont;
    box-shadow: 0 0 9px 0 $active;
}
.chat-select-header {
    background-color: $dark;
}
.chat-select-button {
    background-color: $dark;
}
.chat-select-button:hover {
    background-color: $hover;
}
div.date-container div {
    background-color: $active;
}
div.room-event div {
    background-color: $active;
}
.selectable:hover {
    background-color: $hover;
}
.date {
    color: $wFont;
}
.message-line {
    color: $wFont;
}
.last-message {
    color: $wFont;
}
.form-control {
    background-color: $hover;
    color: $wFont;
    border: $none;    
}
.modal-header, .modal-content {
    background-color: $dark;
}
.fc-toolbar, .table-bordered, div.fc div table tbody td{
    background-color: $dark;
    color: $wFont;
}
div.datepicker table {
    background-color: $dark;
}
.name-line {
    color: $wFont;
}
#menu-wrapper {
    color: $wFont;
}
.nav-divider {
    color: $wFont;
}
div.dataTables_wrapper tr{
    background-color: $dark;
}
.dropdown-menu {
    background-color: $dark;
}
.thumbnail-container {
    background-color: $dark;
    &:hover{
        background-color: $hover;
    }
}
tbody tr.hasThumbnails:hover td {
    background-color: $dark;
}
#dropdownProfileMenu {
    color: $wFont;
}
.legal-notice {
    background-color: $dark;
    color: $wFont;
}
.selectize-input {
    background-color: $hover;
    color: $wFont;
}
.selectize-input input {
    background-color: $hover;
    color: $wFont;
}
.mail-action-bar {
    background-color: $dark;
}
#sidebar-wrapper {
    background-color: $dark;
}
#message-header {
    background-color: $dark;
    color: $wFont;
}
#editorcontainerbox {
    background-color: $dark;
}
#no-messages:hover {
    background-color: $hover;
}
.media-body > text-muted {
    color: $wFont;
}
.notification {
    background: $hover;
    color: $wFont;
}
.notification-meta {
    color: $wFont;
}
.dropdown-container {
    background-color: $hover;
}
.dropdown-toolbar {
    background-color: $hover;
}
.dropdown-menu {
    background-color: $hover;
}
.text-muted {
    color: whitesmoke !important;
    background-color: none;
}
#no-messages-in-list:hover {
    background-color: $active;

}
.file-universal-dropzone-hint {
    background-color: $dark;
}
button .close {
    background-color: #666 !important;
}
.close {
    background-color: gray !important;
}
.unread {
    background-color: $dark;
    &:hover {
        background-color: $hover;
    }
}
.panel-body > .w100 {
    background-color: $dark;
}