$dark: #333 !important;
:root {
    --white: #{$dark};
}
body {
    background-color: #333 !important;
    color: white !important;
}
#topbar {
    background-color: #333 !important;
    border-bottom: none !important;
}
.content-header {
    background-color: #333 !important;
    border-bottom: none !important;
}
.panel {
    background-color: #333 !important;
    color: white !important;
    border-color: #797979;
}
.pull-right {
    background-color: #333 !important;
    color: white !important;
    border: none;
}
.panel-footer {
    background-color: #333 !important;
}
.control {
    background-color: #333 !important;
}
.btn {
    background-color: #333 !important;
}
.panel-heading {
    color: white !important;
}
.text-secondary {
    color: white !important;
}
.login {
	border: none !important; 
}
.panel-heading {
    background-color: #333 !important;
}
.panel-default {
    background-color: #333 !important;
}
.list-group-item {
    background-color: #333 !important;
}
.header-breadcrumb, .header-meta, .breadcrumb, .bc {
    background-color: #333 !important;
    color: white !important;
}
.msg-date {
    color: white !important;
}
.message-row:hover, .message-row:active {
    background-color: #444 !important;
}
.table {
    background-color: #333 !important;
}
.tbody {
    background-color: #333 !important;
}
.post {
    background-color: #333 !important;
    
}
.batch-actions-container {
    background-color: #333 !important;
}
a:hover {
    background-color: #444 !important;
}
.post-info {
    color: white !important;
}
.post-fold-toggle {
    background-color: #444 !important;
}
.unfold-container {
    background-color: #333 !important;
    color: white !important;
}
.info {
    background-color: #444 !important;
}
.list-check {
    background-color: #333 !important;
}
.read {
    background-color: #333 !important;
}
.odd {
    background-color: #333 !important;
}
.even:hover {
    background-color: #444 !important;
    color: white !important;
}
.item-label {
    color: white !important;
}
.chat-overlay {
    background-color: #333 !important;
    color: white !important;
}
.chat-select-header {
    background-color: #333 !important;
}
.chat-select-button {
    background-color: #333 !important;
}
.chat-select-button:hover {
    background-color: #444 !important;
}
.selectable {
    background-color: #333 !important;
}
.message-line {
    color: white !important;
}
.last-message {
    color: white !important;
}
.form-control {
    background-color: #444 !important;
    color: white !important;    
}
.name-line {
    color: white !important;
}
#menu-wrapper {
    color: white !important;
}
.nav-divider {
    color: white !important;
}
.thumbnail-container, .thumbnail-container:hover {
    background-color: #333 !important;
}
tbody tr.hasThumbnails:hover td {
    background-color: #333 !important;
   }
#dropdownProfileMenu {
    color: white !important;
}
.legal-notice {
    background-color: #333 !important;
    color: white !important;
}
#sidebar-wrapper {
    background-color: #333 !important;
}
#message-header {
    background-color: #333 !important;
    color: white !important;
}